/* Reset default margin and padding for the body */
body {
  margin: 0;
  padding: 0;
  background-color: #fef9e4;
}

/* Center the square container */
.CenteredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh; /* Use the minimum viewport height */
}

/* Create a square container with scrolling */
.AudioPlayersContainer {
  width: 50vmin; /* Set the width and height to be 50% of the viewport minimum dimension */
  height: 50vmin;
  overflow: auto; /* Enable scrolling within the container */

  padding-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 5vh;
  /* border: 3px solid #8ed6ff; */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 0px black;
  scrollbar-width: thin; /* Hide the default scrollbar */
}

.AudioPlayersContainer::-webkit-scrollbar {
  width: 8px;
}

.AudioPlayersContainer::-webkit-scrollbar-thumb {
  background-color: #d67e6e;
  border-radius: 4px;
}

.Audioplayer {
  width: 100%;
  max-width: 400px;
  height: 120px;
  margin-bottom: 20px;
}

.Audioplayer iframe {
  width: 100%;
  height: 100%;
}

.VoicemailHeader {
  text-align: center;
  margin-top: 10vh;
  font-family: monospace;
  font-size: 30px;
  margin-bottom: 0vh;
}
