/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* following is for each audio componenet */

.VoicemailHeader {
  text-align: center;
  padding-top: 5vh;
  font-family: monospace;
  font-size: 30px;
  margin-bottom: 0vh;
  background-color: #d0dbee;
  color: #a85427;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100vw;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0dbee;
  margin-top: -8vh;
  flex-direction: row;
}

.container > div {
  margin: 10px;
}

.player-card {
  width: 15rem;
  background-color: #f1f4f9;
  border-radius: 0.5rem;
  padding: 1rem;
}

img {
  width: 15rem;
  height: auto;
  border-radius: 0.5rem;
}

input[type="range"] {
  width: 100%;
  height: 3px;
  accent-color: #436ee6;
  outline: none;
}

.track-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.track-duration > p {
  font-size: 10px;
  font-weight: 500;
  color: #18181f;
  margin: 0;
}

.flex {
  display: flex;
  text-align: center;
}

.flex2 {
  justify-content: space-evenly;
}

.flex-items {
  text-align: center;
  border: none;
  margin-bottom: 5px;
  background-color: transparent !important;
  border: none !important;
}

.play-pause {
  color: #ffffff;
  background-color: #436ee6;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-forth {
  font-size: 16px;
}

.voicemail-list {
  list-style-type: none;
}

.voicemail-list li {
  border: solid #d4ccc1 5px;
  background-color: #d4ccc1;
  margin: 8px;
  padding: 8px;
  border-radius: 5%;
  margin-right: 35px;
}
